// main: main.less

header {
    text-align: justify;
    letter-spacing: 1px;
    height: 8em;
    padding: 2em 10%;
    background: #052033;
    color: #fff;
    
    h1,
    nav {
        display: inline-block;
        
        a {
            color: #E5E57C;
            margin-right: 15px;
        }
    }
    
    &:after {
        content: '';
        display: inline-block;
        width: 100%;
    }
}