<!-- Adapted From: http://tympanus.net/Development/AnimatedBooks/ -->
<script id="t-book-grid" type="text/html">
    <form class="book-search search-form">
        <div class="input-group input-group-lg">
            <input type="text" class="form-control" placeholder="search">
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit">Go!</button>
            </span>
        </div><!-- /input-group -->
    </form>
    <div class="book-component">
        <ul class="align" data-bind="foreach: { data: data.books(), as: 'book' }">
            <li>
                <figure class='book'>

                <!-- Front -->

                    <ul class='hardcover_front'>
                        <li>
                            <!-- ko if: book.thumbnailLink != null -->
                            <img src="" alt="" data-bind="attr: { src: book.thumbnailLink, alt: book.thumbnailAlt }">
                            <!-- /ko -->
                            <!-- ko if: book.thumbnailLink == null -->
                            <div class="coverDesign yellow">
<!--
                                <span class="ribbon">NEW</span>
                                <h1>CSS</h1>
                                <p>TRANSFORM</p>
-->
                            </div>
                            <!-- /ko -->
                        </li>
                        <li></li>
                    </ul>

                <!-- Pages -->

                    <ul class='page'>
                        <li></li>
                        <li>
                            <a class="read-more" href="#" data-bind="href: book.detailsLink">READ MORE</a>
                        </li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>

                <!-- Back -->

                    <ul class='hardcover_back'>
                        <li></li>
                        <li></li>
                    </ul>
                    <ul class='book_spine'>
                        <li></li>
                        <li></li>
                    </ul>
                    <figcaption>
                        <h1><a data-bind="text: book.title, href: book.detailsLink"></a></h1>
                        <div data-bind="foreach: book.authors">
                            <span data-bind="text: book.name"></span>
                        </div>
                        <div data-bind="html: book.description"></div>
                        <a class="details-link" data-bind="href: book.detailsLink">Details</a>
                    </figcaption>
                </figure>
            </li>
        </ul>
    </div>
</script>