<script id="t-checkout-empty" type="text/html">

  <div class="checkout-component details" data-bind="with: data">
  <h1>Shopping Cart</h1>
  <p> No books added in the shopping cart</p>
  </div>

</script>