
<script id="t-checkout" type="text/html">

  <div class="checkout-component details" data-bind="with: data">
  <h1>Shopping Cart</h1>

  <div class = "emptyShoppingCart" style = "display:none;">
    <p> No books added in the shopping cart</p>
  </div>

  <div class="shopping-cart">

    <div class="column-labels">
      <label class="product-image">Image</label>
      <label class="product-details">Product</label>   
      <label class="product-removal">Remove</label>
      <label class="product-price">Price</label>    
    </div>
    
    
      <div data-bind="foreach: { data: checkout.books, as: 'b' }">
        <div class = "product">
          <div class="product-image">
            <img src="" alt="" data-bind="src: b.thumbnailLink, attr: { alt: b.thumbnailAlt }">
          </div>
          <div class="product-details">
            
            <div class="product-title" data-bind="text: b.title"></div>
            <p class="product-description" data-bind="html: b.description"</p><!--test-->
          </div>            
          <div class="product-removal">
            <div style= "display:none" name="uid" id="uid" data-bind="text: b.uid"></div>
            <button class="remove-product" onclick="removeItem(this)">
              Remove
            </button>
          </div>
          <div class="product-price" data-bind="text: b.price"></div>    
        </div>
      </div>    
    <div class="totals">
      <div class="totals-item">
        <label>Total</label>
        <div class="totals-value" id="cart-total"></div>
      </div>
    </div>
    
      <button onclick= "directToPayment()" id ="checkoutButton" class="checkout">Checkout</button>
</div>
</script>
