
<script id="t-checkout" type="text/html">

  <div class="checkout-component details" data-bind="with: data">
  <h1>Shopping Cart</h1>

  <div class="shopping-cart">
    <div class="column-labels">
      <label class="product-image">Image</label>
      <label class="product-details">Product</label>   
      <label class="product-removal">Remove</label>
      <label class="product-price">Price</label>    
  </div>

  <div class="row" data-bind="foreach: { data: data.checkouts(), as: 'checkout' }">
  <div data-bind="foreach: checkout.books">
    <div class="product-image">
      <img src="" alt="" data-bind="src: checkout.thumbnailLink, attr: { alt: checkout.thumbnailAlt }">
    </div>
    <div class="product-details">
      <div class="product-title" data-bind="text: product.title"></div>
      <p class="product-description" data-bind="html: product.description"</p>
    </div>
    <div class="product-removal">
      <button class="remove-product">
        Remove
      </button>
    </div>
    <div class="product-price" data-bind="currency: product.price"></div>    
    </div>    
  </div>

 

  <div class="totals">
      <div class="totals-item">
        <label>Subtotal</label>
        <div class="totals-value" id="cart-subtotal">71.97</div>
      </div>
      <div class="totals-item">
        <label>Tax (5%)</label>
        <div class="totals-value" id="cart-tax">3.60</div>
      </div>
      <div class="totals-item">
        <label>Shipping</label>
        <div class="totals-value" id="cart-shipping">15.00</div>
      </div>
      <div class="totals-item totals-item-total">
        <label>Grand Total</label>
        <div class="totals-value" id="cart-total">90.57</div>
      </div>
    </div>
      
    <button class="checkout">Pay</button>

</div>
  



    </div>
</script>