<script id="t-checkout" type="text/html">

    <div class="checkout" data-bind="foreach: { data: data.orders, as: 'order'}">
        <p>
            <h3>Orderer: <span data-bind="text: email"></span></h3>
        </p>

        <table>
            <thead><tr>
                <th>Title</th><th>Price</th><th>Quantity</th><th>Subtotal</th><th></th><th width='10%'> </th>
            </tr></thead>

            <tbody data-bind="foreach: { data: order.items, as: 'item' }">
                <tr>
                    <td data-bind="text: title"></td>
                    <td data-bind="text: $parent.formatCurrency(price())"></td>

                    <td>
                        <input type="number" min="1" data-bind='value: quantity, valueUpdate: "afterkeydown"' />
                    </td>
                    <td>
                        <span data-bind='text: $parent.formatCurrency(subtotal())'></span>
                    </td>
                    <td>
                        <a href='javascript:void(0);' data-bind='click: $parent.removeItem'>Remove</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <p class="total">
            Total amount: <span data-bind='text: formatCurrency(total())'> </span>
            Total items: <span data-bind='text: totalQuantity()'> </span>
        </p>
        <button data-bind='click: saveOrder'>Save order</button>
        <button data-bind='click: submitOrder'>Submit order</button>
    </div>

</script>
