<script id="t-order-no-results" type="text/html">

    <div class="error-component" data-bind="with: data">
        <div class="error-detail">
            Your 
            <code data-bind="text: term"></code>
            is empty!
        </div>
    </div>
    
</script>