<script id="t-payfailed" type="text/html">
    <div class="header">
        <h1>Sorry your payment could not be processed. You are being redirected to cart...</h1>
        <h3>Please re-enter payment details to purchase the items</h3>
    </div>
</script>
