
<script id="t-payment" type="text/html">

<div id="stripe-form", data-bind="with: data">
  <!-- <form action="/enterhere" method="POST" id="payment-form"> -->

    <div>Amount</div>
    <span type="decimal" size="10" autocomplete="off" class="card-amount", data-bind="text: amount"></span>
    
    <div>Card Number</div>
    <input type="text" size="30" autocomplete="off" class="card-number", data-bind='value: cardNum, valueUpdate: "afterkeydown"' />
    
    <div>CVC</div>
    <input type="text" size="4" autocomplete="off" class="card-cvc", data-bind='value: cvc, valueUpdate: "afterkeydown"' />
    
    <div >Expiration (MM/YY)</div>
    <input type="text" size="2" class="card-expiry-month", data-bind='value: expMonth, valueUpdate: "afterkeydown"' />
    <span> / </span>
    <input type="text" size="2" class="card-expiry-year", data-bind='value: expYear, valueUpdate: "afterkeydown"' />
    <br>
    
    <!-- <input type="hidden" name="amount" id="cc-amount"> -->
    <button type="submit" class="submit-button", data-bind='click: requestPayment'>Submit Payment</button>
<!--  </form> -->

</div>
<!--
<div id="error" class="hidden"></div>
<div id="success" class="hidden">Thank you for the payment!</div>
-->
</script>



