<script id="t-paysuccess" type="text/html">
    <div class="header">
        <h1>Your order has been processed. You are being redirected to Amazon to download the online version...</h1>
    </div>
</script>
