<script id="t-product-grid" type="text/html">
    <div class="product-component">

        <div class="row" data-bind="foreach: { data: data.products(), as: 'product' }">
            <div class="col-sm-6 col-md-4 product-col">
                <div class="thumbnail">
                    <a class="thumbnail-img" href="javascript:void(0);" data-bind="click: product.click">
                        <img src="" alt="" data-bind="src: product.thumbnailLink, attr: { alt: product.thumbnailAlt }">
                    </a>

                    <div class="caption">
                        <h3><a href="javascript:void(0);" data-bind="text: product.title, click: product.click"></a></h3>
                        <div class="description" data-bind="html: product.description"></div>
                        <form form="form1" action='/addtoCart' method="post" role="form">
                          <button class="btn btn-success btn-cart" type="submit"  data-bind="currency: product.price"></button>
                          <div class="form-group">
                                <input type="hidden" name="uid" class="form-control" id="uid" data-bind="value: product.uid"  />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</script>
