<script id="t-profile" type="text/html">
    <form id="user-login" action="/profile" method="post" role="form">
        <div>
            <button class="btn btn-success" type="submit">Log out</button>
        </div>
    </form>
</script>
