<script id="t-register" type="text/html">
    <form id="user-registration-form" data-bind="with: data" role="form">
        <div class="form-group">
            <label for="user-registration-email">Email address</label>
            <input type="email" name="email" class="form-control" id="user-registration-email" placeholder="Enter email" data-bind="value: email" />
        </div>
        <div class="form-group">
            <label for="user-registration-name">Name</label>
            <input type="text" name="name" class="form-control" id="user-registration-name" data-bind="value: name" />
        </div>
        <button class="btn btn-success" type="submit" data-bind="click: requestRegister, enable: canSubmit()">Register Now</button>
    </form>
</script>