<script id="t-succ-reg" type="text/html">
    <div class="error-component" data-bind="with: data">
        <div class="error-detail"></div>
        <div class="error-detail">
            <code data-bind="text: info"></code>
        </div>
    </div>

    <form id="error-login" action="/succ_reg" method="post" role="form">
        <button class="btn btn-success" type="submit">Logging now</button>
    </form>
</script>




