<script id="t-succ-login" type="text/html" src="test.js">
    <div class="error-component" data-bind="with: data">
        <div class="error-detail"></div>
        <div class="error-detail">
            <code data-bind="text: warning"></code>
        </div>
    </div>

    <form id="error-login" action="/error_reg" method="post" role="form">
        <button class="btn btn-success" type="submit">Register Again</button>
    </form>
</script>




