<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moviq</title>
<!--    <link rel="shortcut icon" href="../favicon.ico">-->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />
<!--
    <link rel="stylesheet" type="text/css" href="/css/default.css" />
    <link rel="stylesheet" type="text/css" href="/css/component.css" />
-->
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/css/_checkout.css">
    <link rel="stylesheet" type="text/css" href="/css/_confirmation.css">
    <script src="/js/lib/modernizr.custom.js"></script>
</head>
<body>
    <header>
        <h1><a href="/">Moviq</a></h1>
        <form class="search-form">
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" placeholder="search">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Go!</button>
                </span>
            </div><!-- /input-group -->
        </form>        
        <nav>
<!--
            <span data-bind="foreach: links">
                <a data-bind="text: text, href: href"></a>               
            </span>
-->
            <a href="/#/cart">
                <i class="fa fa-shopping-cart" data-bind="text: cartCount"></i>
            </a>
        </nav>
    </header>    
    <div class="container">
        <section class="main">
            <!-- ko if: viewModel() -->
            <div data-bind="template: { name: viewModel().template, data: viewModel }">
            </div>
            <!-- /ko -->
            <!-- ko ifnot: viewModel() -->
            <div>
                <!-- no view model -->
            </div>
            <!-- /ko -->        
        </section>
        
    </div><!-- /container -->
    
    <!-- templates -->

    @Partial['../templates/empty.html']
    @Partial['../templates/search-no-results.html']
    @Partial['../templates/error-404.html']
    @Partial['../templates/product-grid.html']
    @Partial['../templates/book-details.html']
    @Partial['../templates/login.html']
    @Partial['../templates/register.html']
    @Partial['../templates/cart.html']
    @Partial['../templates/checkout.html']
    @Partial['../templates/confirmation.html']
    @Partial['../templates/orders.html']
    
    <!-- /templates -->
    
    <!-- js -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-3.1.0.js"></script>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript">
        Stripe.setPublishableKey('pk_test_OaIQ2hEDpMMbKEnU3NhdxEiF');
    </script>
    <script src="/js/lib/sammy.min.js"></script>
    <script src="/js/lib/require.js"></script>
    <script src="/js/lib/require.shim.js"></script>
    <script src="/js/lib/grid.js"></script>
    <script src="/js/compositionRoot.js"></script>
    <!-- /js -->
</body>
</html>