<script id="t-cart" type="text/html">
    <div class="cart-container" data-bind="with: data">

        <div data-bind="visible: cart.products().length > 0">
            <h1 class="text-center">Shopping Cart</h1>
            <div class="row">
                <div class="col-md-8">

                    <div class="row" data-bind="foreach: { data: cart.products(), as: 'product' }">
                        <div class="thumbnail">

                            <img class="product-image" src="" alt="" data-bind="src: product.thumbnailLink, attr: { alt: product.thumbnailAlt }">

                            <div class="product-details">
                                <h2 data-bind="text: product.title"></h2>
                                <h3 data-bind="currency: product.price"></h3>
                                <button class="btn bnt-sm btn-danger" data-bind="click: function(data) { $parent.cart.removeFromCart(product) }">Remove</button>
                            </div>


                        </div>
                        <div class="clearfix"></div>
                    </div>

                </div>
                <div class="col-md-3 col-md-offset-1">
                    <h2>Hi, <span data-bind="text: user.name"></span></h2>
                    <h2>Total (<span data-bind="text: cart.products().length"></span> item<span data-bind="visible: cart.products().length > 1">s</span>)</h2>
                    <h1 data-bind="currency: cart.total"></h1>
                    <a href="/#/checkout" data-bind="visible: !user.isGuest"class="btn btn-lg btn-success">Proceed to checkout</a>     
                    <a href="/#/cartLogin" data-bind="visible: user.isGuest" class="btn btn-lg btn-success">Login to complete checkout</a>
                </div>
            </div>
        </div>

        <div data-bind="visible: cart.products().length == 0">
            <h1 class="text-center">Shopping cart is empty</h1>
            <h3 class="text-center">Find exactly what you're looking for by using the search box above</h3>
        </div>

    </div>
</script>