<script id="t-checkout" type="text/html">
    <div data-bind="with: data.model">
        <div>try: <span data-bind="text: cardNum"></span></div>
        <form id="payment-form">
            <div class="form-row">
                <label>
                    <span>Card Number</span>
                    <input data-bind="value: cardNum" type="text" size="20" data-stripe="number" />
                </label>
            </div>

            <div class="form-row">
                <label>
                    <span>CVC</span>
                    <input data-bind="value: cvc" type="text" size="4" data-stripe="cvc" />
                </label>
            </div>

            <div class="form-row">
                <label>
                    <span>Expiration (MM/YYYY)</span>
                    <input data-bind="value: expMonth" type="text" size="2" data-stripe="exp-month" />
                </label>
                <span> / </span>
                <input data-bind="value: expYear" type="text" size="4" data-stripe="exp-year" />
            </div>

            <button data-bind="click: submitPay">Submit Payment</button>
        </form>
    </div>
</script>