<script id="t-product-grid" type="text/html">
    <div class="product-component" data-bind="with: data">
        <div class="row" data-bind="foreach: { data: products.products(), as: 'product' }">
            <div class="col-sm-6 col-md-4 product-col">
                <div class="thumbnail">
                    <a class="thumbnail-img" href="" data-bind="href: product.detailsLink">
                        <img src="" alt="" data-bind="src: product.thumbnailLink, attr: { alt: product.thumbnailAlt }">
                    </a>

                    <div class="caption">
                        <h3><a data-bind="text: product.title, href: product.detailsLink"></a></h3>
                        <div class="description" data-bind="html: product.description"></div>
                        <button class="pull-right btn btn-success grid-buy-button" data-bind="click: function(data) { $parent.cart.addToCart(product) }">
                            <span class="glyphicon glyphicon-shopping-cart"></span> <span data-bind="currency: product.price"></span>
                        </button>

                    </div>
                </div>
            </div>
        </div>        
        
    </div>
</script>