<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!-- <appSettings>
        <add key="owin:HandleAllRequests" value="true"/>
    </appSettings> -->
    <system.webServer>
        <!-- <modules runAllManagedModulesForAllRequests="true"/> -->
        <handlers>
            <!-- <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
            <remove name="OPTIONSVerbHandler"/>
            <remove name="TRACEVerbHandler"/>
            <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." preCondition="integratedMode,runtimeVersionv4.0" type="System.Web.Handlers.TransferRequestHandler" verb="*"/> -->
            <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
        </handlers>
        <httpPlatform arguments="%DNX_ARGS%" processPath="%DNX_PATH%" stdoutLogEnabled="false"/>
    </system.webServer>
</configuration>
